<ion-view view-title="Подтвердить заказ">
  <ion-content class="background-img">
    <div class="approve-order__header">
      <div class="approve-order__text">Заказать</div>
      <div class="approve-order__text">Согласовать</div>
      <div class="approve-order__text">Готово!</div>
      <div class="approve-order__img img-checkmark"></div>
      <div class="approve-order__img img-number2"></div>
      <div class="approve-order__img img-number3"></div>
      <div class="clear-bottom"></div>
    </div>
    <div class="approve-order__content-address">
      <div>Адрес чистомата:</div>
      <div class="approve-order__content-address-dynamic">г.Москваб ул. Молостовых, 1</div>
    </div>
    <div class="approve-order__content-data-wrap">
      <div class="approve-order__content-data">
        <div class="approve-order__content-data-item">
          <div class="approve-order__content-data-left">Код ящика</div>
          <div class="approve-order__content-data-right">1234</div>
        </div>
        <div class="approve-order__content-data-item">
          <div class="approve-order__content-data-left">Код ящика</div>
          <div class="approve-order__content-data-right">1234</div>
        </div>
        <div class="approve-order__content-data-item">
          <div class="approve-order__content-data-left">Код ящика</div>
          <div class="approve-order__content-data-right">1234</div>
        </div>
        <div class="approve-order__content-data-item">
          <div class="approve-order__content-data-left">Код ящика</div>
          <div class="approve-order__content-data-right">1234</div>
        </div>
        <div class="approve-order__content-data-item">
          <div class="approve-order__content-data-left">Способ оплаты</div>
          <div class="approve-order__content-data-right">Наличными курьеру</div>
        </div>
      </div>      
    </div>
    <div class="approve-order__content-button">
      <button class="button button-orange approve-order__content-button-button">подтвердить</button>
    </div>
  </ion-content>
</ion-view>