<ion-view view-title="Согласовать заказ">
  <ion-content class="background-img">
    <div class="coordinate-order__header">
      <div class="coordinate-order__text">Заказать</div>
      <div class="coordinate-order__text">Согласовать</div>
      <div class="coordinate-order__text">Готово!</div>
      <div class="coordinate-order__img img-checkmark"></div>
      <div class="coordinate-order__img img-number2"></div>
      <div class="coordinate-order__img img-number3"></div>
      <div class="clear-bottom"></div>
    </div>
    <div class="coordinate-order__content-data-wrap">
      <div class="coordinate-order__content-data">
        <div class="coordinate-order__content-header">
          контактные данные
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left">Фамилия</div>
          <div class="coordinate-order__content-data-right">Никитин</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left">Имя</div>
          <div class="coordinate-order__content-data-right">Никитин</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left">Отчество</div>
          <div class="coordinate-order__content-data-right">Никитин</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left">Адрес</div>
          <div class="coordinate-order__content-data-right">г.Москва, ул. Плеханова 2</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left">Телефон</div>
          <div class="coordinate-order__content-data-right">+70987234577</div>
        </div>
      </div>      
    </div>
    <div class="coordinate-order__content-data-wrap processing">
      <div class="coordinate-order__content-data">
        <div class="coordinate-order__content-header">
          вещи в обработке
        </div>
        <div class="coordinate-order__content-data-item img-block">
          <div class="coordinate-order__content-data-img"><img src="../img/ionic.png" alt=""></div>
          <div class="coordinate-order__content-data-img"><img src="../img/ionic.png" alt=""></div>
          <div class="coordinate-order__content-data-img"><img src="../img/ionic.png" alt=""></div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left processing-item">Наименование</div>
          <div class="coordinate-order__content-data-right processing-item">Футболка</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left processing-item">Дефекты</div>
          <div class="coordinate-order__content-data-right processing-item">Нет</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left processing-item">Степень износа</div>
          <div class="coordinate-order__content-data-right processing-item">5%</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left processing-item">Предупреждения</div>
          <div class="coordinate-order__content-data-right processing-item">Нет</div>
        </div>
        <div class="coordinate-order__content-data-item">
          <div class="coordinate-order__content-data-left processing-item">Цена</div>
          <div class="coordinate-order__content-data-right processing-item">150 руб</div>
        </div>
        <div class="coordinate-order__content-data-item buttons">
          <!--<div class="coordinate-order__content-data-left"></div>
          <div class="coordinate-order__content-data-right"></div>-->
          <button class="button button-orange coord">согласовать</button>
          <button class="button button-orange cancel">отмена</button>
        </div>
      </div>      
    </div>
  </ion-content>
</ion-view>
