<ion-view view-title="Готовый заказ">
  <ion-content class="background-img">
    <div class="ready-order__header">
      <div class="ready-order__text">Заказать</div>
      <div class="ready-order__text">Согласовать</div>
      <div class="ready-order__text">Готово!</div>
      <div class="ready-order__img img-checkmark"></div>
      <div class="ready-order__img img-number2"></div>
      <div class="ready-order__img img-number3"></div>
      <div class="clear-bottom"></div>
    </div>
    <div class="ready-order__content-data-wrap">
      <div class="ready-order__content-data">
        <div class="ready-order__content-header">
          контактные данные
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left">Фамилия</div>
          <div class="ready-order__content-data-right">Никитин</div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left">Имя</div>
          <div class="ready-order__content-data-right">Сергей</div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left">Отчество</div>
          <div class="ready-order__content-data-right">Вячеславович</div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left">Адрес</div>
          <div class="ready-order__content-data-right">г.Москва, ул. Плеханова 2</div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left">Телефон</div>
          <div class="ready-order__content-data-right">+70987234577</div>
        </div>
      </div>      
    </div>
    <div class="ready-order__content-data-wrap staff">
      <div class="ready-order__content-data">
        <div class="ready-order__content-header">
          вещи
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left staff-item">Футболка с принтом</div>
          <div class="ready-order__content-data-center staff-item">1 шт</div>
          <div class="ready-order__content-data-right staff-item">1200&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left staff-item">Плащ</div>
          <div class="ready-order__content-data-center staff-item">1 шт</div>
          <div class="ready-order__content-data-right staff-item">750&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></div>
        </div>
        <div class="ready-order__content-data-item">
          <div class="ready-order__content-data-left staff-item">Кожаная куртка</div>
          <div class="ready-order__content-data-center staff-item">1 шт</div>
          <div class="ready-order__content-data-right staff-item">800&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></div>
        </div>
        <div class="ready-order__content-data-item stuff-sum">
          <div class="ready-order__content-data-left staff-item">Итого:</div>
          <div class="ready-order__content-data-right staff-item">2750&nbsp;<i class="fa fa-rub" aria-hidden="true"></i></div>
        </div>
        
      </div>      
    </div>
    <div class="ready-order__content-address">
      <div>Адрес чистомата:</div>
      <div class="ready-order__content-address-dynamic">г.Москваб ул. Молостовых, 1</div>
    </div>
    <div class="ready-order__content-button">
      <button class="button button-orange ready-order__content-button-button">забрать вещи</button>
    </div>
  </ion-content>
</ion-view>
